appnope
asttokens
blinker
click
comm
contourpy
cycler
debugpy
decorator
executing
Flask
Flask-SQLAlchemy
fonttools
ipykernel
ipython
ipython_pygments_lexers
itsdangerous
jedi
Jinja2
joblib
jupyter_client
jupyter_core
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
mysql-connector-python
nest-asyncio
numpy
packaging
pandas
parso
patsy
pexpect
pillow
platformdirs
prompt_toolkit
psutil
ptyprocess
pure_eval
Pygments
pyparsing
python-dateutil
pyzmq
scikit-learn
scipy
seaborn
six
SQLAlchemy
stack-data
statsmodels
threadpoolctl
tornado
traitlets
typing_extensions
wcwidth
Werkzeug
